<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <nav class="navbar navbar-dark gl-py-0 gl-px-5 gl-fixed gl-z-50 gl-bg-theme-indigo-900">
    {{ partial "header.html" . }}
  </nav>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <script type="module" src="{{ absURL "" }}/vite/main.js"></script>
</body>
</html>
