nav {
  height: var(--header-height);
  width: 100%;
}

main {
  padding-top: var(--header-height);
}

/* Default page layout */
.template-single {
  display: grid;
  grid-template-columns: 14rem 50rem 12rem;
  grid-gap: 2rem;
  height: 100vh;
}
.global-nav {
  grid-column: 1;
}
.main-content {
  position: relative;
  padding-bottom: var(--footer-height);
  grid-column: 2;
}
.toc {
  grid-column: 3;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}
/* Scroll permalinks past the navbar */
h2,
h3,
h4,
h5,
h6,
:target {
  scroll-margin-top: calc(var(--header-height) + 1rem);
}

/* Responsive styles for small screens */
@media (max-width: 1199px) {
  .template-single {
    display: block;
    padding: 0 2rem;
  }
  .global-nav,
  .toc {
    display: none;
  }
}
@media (max-width: 1349px) {
  .template-single {
    grid-template-columns: 4rem 48rem 10rem;
  }
  .global-nav .placeholder {
    display: none;
  }
}
