<div class="help-feedback gl-rounded-base gl-mt-9 gl-p-6">
  <h2 class="gl-m-0">Help & feedback</h2>

  <div class="gl-flex gl-pt-3">
    <div class="feedback gl-pr-5">
      <h3>Docs</h3>
      <p>{{ partial "edit-link.html" (dict "Context" . "editText" "Edit this page" "linkType" "source" "productsYaml" .Site.Data.products) }} to fix an error or add an improvement in a merge request.</p>
      <p><a href="https://gitlab.com/gitlab-org/gitlab/-/issues/new?issuable_template=Documentation">Create an issue</a> to suggest an improvement to this page.</p>

      <h3>Product</h3>
      <p><a href="https://gitlab.com/gitlab-org/gitlab/-/issues/new?issue[description]=Describe%20what%20you%20would%20like%20to%20see%20improved.%0A%0A%3C!--%20Don%27t%20edit%20below%20this%20line%20--%3E%0A%0A%2Flabel%20~%22docs%5C-comments%22%20&issue[title]=Docs%20-%20product%20feedback:%20Write%20your%20title">Create an issue</a> if there's something you don't like about this feature.</p>
      <p><a href="https://gitlab.com/gitlab-org/gitlab/-/issues/new?issuable_template=Feature%20proposal%20-%20detailed&issue[title]=Docs%20feedback%20-%20feature%20proposal:%20Write%20your%20title">Propose functionality</a> by submitting a feature request.</p>

      <h3>Feature availability and product trials</h3>
      <p><a href="https://about.gitlab.com/pricing/">View pricing</a> to see all GitLab tiers and features, or to upgrade.</p>
      <p><a href="https://about.gitlab.com/free-trial/">Try GitLab for free</a> with access to all features for 30 days.</p>
    </div>

    <div class="help">
      <h3>Get help</h3>
      <p>If you didn't find what you were looking for, <a href="https://docs.gitlab.com/search/">search the docs</a>.</p>
      <p>If you want help with something specific and could use community support, <a href="https://forum.gitlab.com/new-topic?title=topic%20title&body=topic%20body&tags=docs-feedback">post on the GitLab forum</a>.</p>
      <p>For problems setting up or using this feature (depending on your GitLab subscription).</p>
      <a class="btn btn-default btn-md gl-button" href="https://about.gitlab.com/support/">Request support</a>
    </div>
  </div>
</div>
