<div class="gl-flex gl-justify-between gl-border-0 gl-border-t gl-border-solid gl-border-gray-100 gl-pt-5">
  <a href="https://gitlab.com/dashboard"><img src="{{ absURL "" }}/gitlab-logo.svg" alt="GitLab logo"></a>

  <ul class="docs-social gl-list-none gl-flex">
    {{- range site.Menus.social }}
      <li>
        <a href="{{ .URL }}" class="{{ .Name | strings.ToLower }}">
          <span class="gl-sr-only">{{ .Name }}</span>
        </a>
      </li>
    {{- end }}
  </ul>
</div>

<ul class="docs-footer-links gl-list-none gl-flex gl-pl-0">
  {{- range site.Menus.footer }}
    <li class="gl-pr-5">
      <a href="{{ .URL }}" class="gl-text-gray-600">
        {{ .Name }}
      </a>
    </li>
  {{- end }}
</ul>

<div class="docs-footer-links-secondary gl-flex">
  <nav class="docs-edit-links">
    {{ partial "edit-link.html" (dict "Context" . "editText" "View page source" "linkType" "source" "productsYaml" .Site.Data.products) }}
    {{ partial "edit-link.html" (dict "Context" . "editText" "Edit in Web IDE" "linkType" "ide" "productsYaml" .Site.Data.products) }}
  </nav>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="{{ absURL "" }}/by-sa.svg"></a>
</div>
