<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<link rel="icon" href="{{ absURL "" }}/favicon.svg" type="image/svg+xml">

{{ if eq .Params.noindex true }}
<meta name="robots" content="noindex, nofollow">
{{ end }}

<!-- GitLab Fonts and UI -->
<link rel="preload" href="{{ absURL "" }}/gitlab_ui/fonts/GitLabSans.woff2" as="font" crossorigin />
<link rel="preload" href="{{ absURL "" }}/gitlab_ui/fonts/GitLabSans-Italic.woff2" as="font" crossorigin />
<link rel="prefetch" href="{{ absURL "" }}/gitlab_ui/fonts/GitLabMono.woff2" as="font" crossorigin />
<link rel="stylesheet" href="{{ absURL "" }}/gitlab_ui/ui/index.css">

<!-- Tailwind utilities and custom CSS -->
<link rel="stylesheet" href="{{ absURL "" }}/vite/main.css">
